/*==================================*/
/*             Colors               */
/*==================================*/
/* Variable declarations for the    */
/* Jatsby color palette	            */
/*==================================*/


$jatsbyGray: #656565;
$jatsbyBlack: #424242;
$jatsbyText: #454545;


// Dull

$jatsbyRed-d: #ff6262;
$jatsbyOrange-d: #ff865c;
$jatsbyYellow-d: #fdcb59;
$jatsbyGreen-d: #abd485;
$jatsbyMint-d: #88e4ae;
$jatsbyBlue-d: #7cc9c1;
$jatsbyDarkBlue-d: #7da1c9;
$jatsbyPurple-d: #9c7dc8;
$jatsbyFuchsia-d: #c97da5;
$jatsbyWhite-d: #F9F9F9;
$jatsbyBrown-d: #b99a84;


// Balanced

$jatsbyRed: #FF4949;
$jatsbyOrange: #FF934A;
$jatsbyYellow: #FFDB50;
$jatsbyGreen: #A4DF6E;
$jatsbyMint: #83EEAF;
$jatsbyBlue: #7EE2D8;
$jatsbyDarkBlue: #81B0E4;
$jatsbyPurple: #AB83E2;
$jatsbyFuchsia: #E585B8;
$jatsbyWhite: #FFF;
$jatsbyBrown: #DBB091;


// Bright

$jatsbyRed-b: #FF1712;
$jatsbyOrange-b: #FF8610;
$jatsbyYellow-b: #FFF214;
$jatsbyGreen-b: #AAF565;
$jatsbyMint-b: #75FFAE;
$jatsbyBlue-b: #7CF7EA;
$jatsbyDarkBlue-b: #74B6FF;
$jatsbyPurple-b: #B583FD;
$jatsbyFuchsia-b: #FF80C3;
$jatsbyWhite-b: #FFF;
$jatsbyBrown-b: #FAB98B;
