/*
   Jatsby Rasa v1.0
   Released January 29, 2014
    under the MIT License
   Copyright 2016 Jatsby
   https://jatsby.com/
*/


// Reset

*	{
	padding:0;
	margin:0 auto;
  border-radius: 0;
	border: 0;
	background-color: transparent;
	position: relative;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: geometricPrecision;
	text-decoration: none;
	color:inherit;
	line-height: normal;
	/* Responsive Transition Effects */
	-webkit-transition-duration:0.5s;
	-webkit-transform: rotate3d(0,0,0);
	-moz-transition-duration: 0.5s;
	-moz-transform: rotate3d(0,0,0);
	-webkit-appearance: none;
}

textarea:focus, input:focus{
    outline: 0;
}

::selection, ::-moz-selection {
  background: #eeeeee;
}

html	{
	background-color: #3A3A3A;
}


// Global Classes

.disabled {
	cursor: not-allowed !important;
}

.flexbox {
	 /* align */
	 -webkit-align-items: center;
	 align-items: center;
	 /* align content */
	 -webkit-align-content: flex-end;
	 align-content: flex-end;
	 /* display */
		display: -webkit-flex;
		display: flex;
	 /* flex direction */
	 -webkit-flex-direction: row;
	 flex-direction: row;
	 /* flex flow */
	 -webkit-flex-flow: row wrap;
	 flex-flow: row wrap;
	 /* flex-wrap */
	 -webkit-flex-wrap: wrap;
	 flex-wrap: wrap;
	 /* justify */
	 -webkit-justify-content: center;
	 justify-content: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
