<! Jatsby Framework v0.4
<! Released October 30, 2014 under the MIT License
<! Copyright 2014 Jatsby
-> 

<head>
	<title>Jatsby</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="mobile.css">
	<link rel="stylesheet" type="text/css" href="tablet.css">
	<link rel="stylesheet" type="text/css" href="desktop.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.png"/>
	<!-- Meta / SEO -->
	<meta name="description" content="The World's Newest (?) Web Framework!">
	<meta name="keywords" content="jatsby, web, website, framework, html5, css, wekbit">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
</head>

