/* 
   Jatsby CSS
   Jatsby Framework v0.6
   Originally Released October 22, 2014 
    under the MIT License
   Updated January 13, 2015
   Copyright 2015 Jatsby 
*/



/*================ Fonts ================*/
/* Declare or import all fonts here		 */
/*=======================================*/

@charset "UTF-8";

/* Lobster 400; normal */
@import url("http://fonts.googleapis.com/css?family=Lobster");

/* Lato 100-900; normal, italic */
@import url("http://jatsby.com/lato.css");


/*=============== Reset =================*/
/* Simple reset parameters				 */
/* Also for custom global declarations	 */
/* (ie, ".roboto" for 					 */
/* font-family:Roboto;)					 */
/*=======================================*/

*	{
	padding:0;
	margin:0 auto;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust: 100%;
	/* a */
	text-decoration: none;
	color:inherit;
}

html	{
	
}


/*========== Mobile Breakpoint ==========*/
/* 300px- 599px							 */
/* For small devices					 */
/* iPhone, iPod Touch, Nexus 5			 */
/*=======================================*/

@media (min-width: 300px)	{
	

	
}


/*=========== Tablet Breakpoint =========*/
/* 600px- 899px							 */
/* For tablets in portrait				 */
/* iPad, Nexus 7, Nexus 10				 */
/*=======================================*/

@media (min-width: 600px)	{



}


/*===== Tablet Landscape Breakpoint =====*/
/* 900px- 1200px						 */
/* For tablets in landscape	 			 */			
/* iPad, Nexus 7, Nexus 10, Surface Pro	 */					
/*=======================================*/

@media (min-width: 900px)	{



}


/*========== Desktop Breakpoint =========*/
/* 1201px+								 */
/* For full-size computers				 */
/* MacBook Pro, iMac					 */
/*=======================================*/

/* Switch from 1201px to 0px for testing
    or to "disable" Desktop breakpoint */	
   
/*@media (min-width: 0px)*/
@media (min-width: 1201px)	{



}

